<footer >
    <div class="f-info">
        <div class="left">
            <div>&copy;2025 Nestify,Inc.</div>
            <div class="f-info-links">
                    <a href="#top">Privacy</a>
                    <a href="#top">Terms</a>
            </div>
        </div>
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/jaswanth-sai-majeti-b806b72a7/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/jaswanth-sai-majeti-b806b72a7/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.linkedin.com/in/jaswanth-sai-majeti-b806b72a7/" target="_blank"><i class="fa-brands fa-instagram"></i></a>

        </div>
    </div>
</footer>