<% layout('layouts/boilerplate') %> 

     <% if(data.length == 0){ %>
            <div class="text-center mt-5 mb-5">
                <p class="fw-semibold fs-5">No listings found</p>
                <small class="text-muted">
                    Try searching for a different destination.
                </small>
            </div>
    <% } %>
        
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-6">
          
            <%for(let item of data){%>
                <a href="/listings/<%=item._id%>" class="listing-link col">
                <div class="card listing-card">
                    <img src="<%=item.image.url%>" class="card-img-top" alt="listing image">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <b><p class="card-text text-truncate"><%= item.title%></p></b>
                      <p class="card-text">&#8377;<%=item.price.toLocaleString("en-IN")%> / night</p>
                    </div> 
                  </div>
                </a>
            <%}%>
        </div>
    </div>
