<% layout("/layouts/boilerplate") %>
 
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="alert alert-danger" role="alert">
                <div class="alert-heading"><h4><%= err.message%></h4></div>
            </div>
        </div>
    </div>
</div>
